@import './components/Footer.scss';
@import './components/MainPanel.scss';
@import './components/AuditPanel.scss';
@import './components/QAPanel.scss';

@import './views/Home.scss';

body, h1, h2, h3, h4, h5, h6, .mdl-textfield__input, .mdl-button{
    font-family: 'Kanit', sans-serif;
}


body{
    width: 889px;
    margin: auto;
}

img{
    width: 100%;
    height: 250px;
}

.header{
    display: flex;
    justify-content: center;
    padding: 15px;
    flex-direction: column;
    align-items: center;
}

.ant-layout-footer{
    padding: 0px;
    background-color: #FFFFFF;
}

.ant-input{
    width: 200px;
}