.audit-panel{
    padding-bottom: 50px;
    
    .timepicker{
        display: inline-block;
    }
    form{
        .title{
                display: inline-block;
                width: 350px;
                text-align: right;
                padding-right: 15px;
        }
        .input{
            height: 40px;
        }
        .button{
            text-align: right;
            margin-right: 70px;
            margin-bottom: 20px;
        }
    }

    .button-sent{
        text-align: right;
    }

    .card-result{
        padding-top: 5px;
        padding-left: 5px;
        width: 100%;
        height: 330px;
        box-sizing: border-box;
        background: red; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(left top, red, yellow); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(bottom right, red, yellow); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(bottom right, red, yellow); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to bottom right, red, yellow); /* Standard syntax */

        &-data{
            width: calc(100% - 5px);
            height: calc(100% - 5px);
            background-color: #FFFFFF;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;

            .status{
                h5{
                    margin-top: 0px;
                }
            }
            .notfound{
                text-align: center;
                h5{
                    margin-top: 0px;
                }
            }
            .found{
                margin: 0px 70px 0px 70px;
                .sec-1{
                    text-align: center;
                    .title{
                        margin-bottom: 15px;
                    }
                    .detail{
                        text-align: right;
                    }
                    .detail:hover{
                        cursor: pointer;   
                    }
                }
                .sec-2{
                    .sub-1{
                        margin-bottom: 15px;
                        margin-top: 15px;
                    }
                    .sub-2{
                        .radio{
                            span{
                                margin-left: 5px;
                            }
                        }
                    }
                }
            }
        }

        
    }
}
