.home{
    width: 889px;
    margin: auto;
    
    .mdl-tabs__tab{
        display: block;
        // width: 25%;
        width: 100%;
    }
    .mdl-tabs__tab-bar{
        display: flex;
        flex-direction: row;
    }

    .cover{
        padding: 0px;
        height: 250px;
        box-sizing: border-box;

        // background: red; /* For browsers that do not support gradients */
        // background: -webkit-linear-gradient(yellow, red); /* For Safari 5.1 to 6.0 */
        // background: -o-linear-gradient(top, red, yellow); /* For Opera 11.1 to 12.0 */
        // background: -moz-linear-gradient(top, red, yellow); /* For Firefox 3.6 to 15 */
        // background: linear-gradient(to top, red, yellow); /* Standard syntax */
        .mdl-cell{
             margin: 0px;
             width: 100%;
             display: flex;
             justify-content: center;
        }
    }

    h3{
        text-align: center;
    }
}
